@import url("https://fonts.googleapis.com/css2?family=Lora:ital&family=Roboto:ital");
@import url("Components/container.css");
@import url("Components/Avatar.css");
@import url("Components/Button.css");
@import url("Components/Banner.css");
@import url("Components/card.css");

body {
	font-family: "Lora", serif;
    font-size: 18px;
}

h1, h2, h3 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

a { 
	text-decoration: none; 
}